<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_OFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,28}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>anniu_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,28}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>btn_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>entergame.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>gantanhaohuangse.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{36,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{36,73}</string>
            </dict>
            <key>gantanhaolanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{36,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{36,73}</string>
            </dict>
            <key>gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>haoyoupaihanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>liebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>lingqujianglianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>mingciyuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>optionoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>paihangpiaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,77},{920,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,87}}</string>
                <key>sourceSize</key>
                <string>{920,87}</string>
            </dict>
            <key>qianwanganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>quedinganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,166},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>querenduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,166},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>querenkaitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,166},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
            <key>quxiaoanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,166},{172,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,56}}</string>
                <key>sourceSize</key>
                <string>{172,56}</string>
            </dict>
            <key>shangpinbiaoqian_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{247,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,86}}</string>
                <key>sourceSize</key>
                <string>{247,86}</string>
            </dict>
            <key>shangpinbiaoqian_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,227},{247,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,86}}</string>
                <key>sourceSize</key>
                <string>{247,86}</string>
            </dict>
            <key>shangpindi.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,227},{219,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,160}}</string>
                <key>sourceSize</key>
                <string>{219,160}</string>
            </dict>
            <key>shangpinding.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,227},{219,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,160}}</string>
                <key>sourceSize</key>
                <string>{219,160}</string>
            </dict>
            <key>shiwushangdian_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>shiwushangdian_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,389},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>shurukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,389},{284,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,48}}</string>
                <key>sourceSize</key>
                <string>{284,48}</string>
            </dict>
            <key>tiaomubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{928,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,103}}</string>
                <key>sourceSize</key>
                <string>{928,103}</string>
            </dict>
            <key>wenhaohuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,439},{36,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{36,73}</string>
            </dict>
            <key>wenhaolan.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,439},{36,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,73}}</string>
                <key>sourceSize</key>
                <string>{36,73}</string>
            </dict>
            <key>youjiandakai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>youjianweidakai.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,544},{77,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,61}}</string>
                <key>sourceSize</key>
                <string>{77,61}</string>
            </dict>
            <key>youkedenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,544},{172,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,59}}</string>
                <key>sourceSize</key>
                <string>{172,59}</string>
            </dict>
            <key>youshanggonggao ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,544},{324,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,50}}</string>
                <key>sourceSize</key>
                <string>{324,50}</string>
            </dict>
            <key>zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,544},{173,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{173,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fc8793a65f9fbc733bf230acd555dd8$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
